@import "tailwindcss";
@import "@nuxt/ui";
@import "./ui-default-theme.css";


@layer base {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 1000px var(--ui-bg-elevated) inset !important;
    }

    .scale-enter-active {
        transition: all 0.5s ease;
    }

    .scale-enter-from,
    .scale-leave-to {
        transform: translateY(10px) scale(.9);
        opacity: 0;
    }
}